/* "Save and checks" that didn't give me the desired results are commented out for "dont try it again because you forgot you tried" reasons 8) */

/*pseudo classes animate buttons!*/

/* testing *:hover {
    color:blue;
} */

html {
    background-image: url(../images/granite.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

html, body {
    height:100%;
}


body {
    margin:0 auto;
    font-family: 'Open Sans', sans-serif;
    /* width:960px; putting it here makes the whole page that narrow so dont */
    /* https://leaverou.github.io/css3patterns/#half-rombes */
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    width:100%;
}

header {
    /* margin:auto 0; */
    /* height:100px; */
    top:0;
    width:100%;
    position:fixed;
    color:#4aaaa5;
    background-color:whitesmoke;
    /* margin:auto; */
    border-bottom:3px solid #cccccc;
}

li a {
    text-decoration: none;
    color:#d3d3d3;
}

ul {
    list-style-type:none;
    display:inline;
    /* margin:auto; */
    position:relative;
    
}

/* ul:last-child {
    border-right:none;
} */

li {
    float:left;
    margin:0px;
    padding:20px;
    top:50%;
    overflow:hidden;
    /* display:flex;
    flex-wrap:hidden; */
    /* position:default; */
    /* padding-left:1%;
    padding-right:1%; */

}





/* dead tag */
/* h1 {
    font-weight:bold;
    font-size:xx-large;
} */

.mynamebox {
    /* float:left; */
    /* position:absolute; */
    padding:20px;
    display:flex;
    flex-direction: row;
    background-color:lightblue;
    /* border-style:solid;
    border-color:lightblue; */
    font-family: 'Montserrat', serif;  
    /* width:15%;
    height:15%; */
    text-align:center;
    font-weight: 900;
    /* position: relative; */
    float:left;
    color:whitesmoke;
    margin-left:25%;
    margin-right: 20%;
    border:none;
}

/* Top bar is ~effectively nav {} even though .mynamebox is on the same visual line */
.topbar {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align:right;
    background-color: transparent;
    /* margin-right:25%; */
    float:right;
    padding:20px;
    /* border-bottom:solid; */
    /* flex-direction: row; */
    /* padding:20px; */
    /* Accidentally split the references between nav and .topbar */
}

a.nodeco {
    text-decoration: none;
    
}

/*End of topbar, beginning of content */

.aboutme {
    clear:both;
    margin:auto;
    margin-top:8%;
    margin-bottom:8%;
    padding-left:2%;
    padding-right:2.55%;
    width:960px;
    background-color:#ffffff;
    border-style:solid;
    border-color: #dddddd;
    border-width: 3px;
    font-family: 'Open Sans', serif;
    font-weight: 600;
    color:#4aaaa5;
    /* font-weight: 600; */
}

.about {
    border-bottom-style:solid;
    border-width:3px;
    padding-bottom:2%;
    padding-top:2%;
    margin-bottom:1.5%
}


.biography {
    font-family: 'Montserrat', sans-serif;
    color: #777777;
    /* border-top-style:solid;
    border-width:3px;
    padding-top:1%; */
}

.pathfinder {   
    float:left;
    padding:1%;
    margin-left:-1%;
    /* border-style: dashed;
    border-color: aqua; nah it looks weird with a border */
}


/* .separator2 {
    border-top:solid;
} */

.footer {
    background-color:#666666;

        /* padding:10px; */
    /* padding-bottom:0%; */
    /* min-height:100%;part of another way to make the footer stick to the bottom */
    /* height:90px; mostly just made it format weird*/
    /* margin-bottom:-50%; */
    position:fixed;
    bottom:0;
    width:100%;
    /* margin:auto; */
    border-top: 8px solid #4aaaa5;

}
.copyright {
    /* height:50px; */
    /* padding:'0px 0px 0px 0px'; */
    /* margin-bottom:0px; */
    padding:0px;
    font-size: 12px;
    text-align:center;
    bottom:0;
}

/* #buttons (dead reference){ */
    /* text-align: right; */
    /* margin-right: 0%; */
/* } */

/* contact.html css*/

input[type=text], select, textarea{
    width: 50%;
    padding:12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border:none;
    padding:12px 20px;
    border-radius: 4px;
    cursor: pointer;
}

form {
    padding-bottom: 1.5%;
}



